# Corruption Perception Index

In [23]:
import pandas as pd
%matplotlib inline

In [13]:
cpi = {}

In [143]:
cpi['2012'] = pd.read_excel('input/CPI2012_non_encrypted.xlsx', skiprows=1)
cpi['2013'] = pd.read_excel('input/CPI2013_GLOBAL_WithDataSourceScores.xls', skiprows=2)
cpi['2014'] = pd.read_excel('input/CPI2014_ResultsSpreadsheet.xlsx')
cpi['2015'] = pd.read_excel('input/CPI_2015_FullDataSet.xlsx', skiprows=1)
cpi['2016'] = pd.read_excel('input/CPI2016_FullDataSetWithRegionalTables.xlsx')
cpi['2017'] = pd.read_excel('input/CPI2017_Full_DataSet_.xlsx', skiprows=2)
cpi['2018'] = pd.read_excel('input/2018_CPI_FullDataSet.xlsx', sheet_name='CPI2018', skiprows=2)

In [144]:
year = '2012'
cpi[year].rename(columns={
    'Unnamed: 1': 'Country', 
    'Unnamed: 2': 'Region', 
    'Unnamed: 3': 'Score', 
    'Unnamed: 5': 'Surveys',
    'Unnamed: 6': 'Error',
}, inplace=True)
cpi[year] = cpi[year][['Country', 'Region', 'Score', 'Surveys', 'Error', 'Lower', 'Upper']]
cpi[year]['year'] = year
cpi[year].head()

       Country Region  Score  Surveys  Error  Lower  Upper  year
0      Denmark     EU     90        7    2.0     87     93  2012
1      Finland     EU     90        7    3.0     85     95  2012
2  New Zealand     AP     90        7    2.2     87     94  2012
3       Sweden     EU     88        7    1.9     85     91  2012
4    Singapore     AP     87        9    2.1     83     90  2012

In [145]:
year = '2013'
cpi[year].rename(columns={
    'Unnamed: 1': 'Country', 
    'Unnamed: 2': 'Region', 
    'Unnamed: 6': 'Score', 
    'Unnamed: 7': 'Surveys',
    'Unnamed: 8': 'Error',
}, inplace=True)
cpi[year] = cpi[year][['Country', 'Region', 'Score', 'Surveys', 'Error', 'Lower', 'Upper']]
cpi[year]['year'] = year
cpi[year].head()

       Country Region  Score  Surveys  Error  Lower  Upper  year
0      Denmark     EU     91        7    2.2     87     95  2013
1  New Zealand     AP     91        7    2.3     87     95  2013
2      Finland     EU     89        7    1.7     86     92  2013
3       Sweden     EU     89        7    2.3     85     93  2013
4       Norway     EU     86        7    2.3     82     90  2013

In [146]:
year = '2014'
cpi[year].rename(columns={
    'Country/Territory': 'Country', 
    'CPI 2014': 'Score', 
    'Number of Surveys Used': 'Surveys',
    'Std Error': 'Error',
    '90% Lower CI': 'Lower',
    '90% Upper CI': 'Upper'
}, inplace=True)
cpi[year] = cpi[year][['Country', 'Region', 'Score', 'Surveys', 'Error', 'Lower', 'Upper']]
cpi[year]['year'] = year
cpi[year].head()

       Country Region  Score  Surveys  Error  Lower  Upper  year
0      Denmark     EU     92        7   2.04     89     95  2014
1  New Zealand     AP     91        7   2.28     87     95  2014
2      Finland     EU     89        7   2.05     86     92  2014
3       Sweden     EU     87        7   3.41     81     93  2014
4       Norway     EU     86        7   2.38     82     90  2014

In [147]:
year = '2015'
cpi[year].rename(columns={
    'Unnamed: 1': 'Country', 
    'Unnamed: 2': 'Region',
    'Unnamed: 3': 'Score', 
    'Unnamed: 5': 'Surveys',
    'Unnamed: 6': 'Error'
}, inplace=True)
cpi[year] = cpi[year][['Country', 'Region', 'Score', 'Surveys', 'Error', 'Lower', 'Upper']]
cpi[year]['year'] = year
cpi[year].head()

       Country Region  Score  Surveys  Error  Lower  Upper  year
0      Denmark     EU     90        7    2.0     87     93  2015
1      Finland     EU     90        7    3.0     85     95  2015
2  New Zealand     AP     90        7    2.2     87     94  2015
3       Sweden     EU     88        7    1.9     85     91  2015
4    Singapore     AP     87        9    2.1     83     90  2015

In [148]:
year = '2016'
cpi[year].rename(columns={
    'CPI2016': 'Score', 
    'Number of Sources': 'Surveys',
    'Std Error 2016': 'Error',
    'Lower CI': 'Lower',
    'Upper CI': 'Upper'
}, inplace=True)
cpi[year] = cpi[year][['Country', 'Region', 'Score', 'Surveys', 'Error', 'Lower', 'Upper']]
cpi[year]['year'] = year
cpi[year].head()

       Country Region  Score  Surveys  Error  Lower  Upper  year
0  New Zealand     AP     90        7   2.56     86     94  2016
1      Denmark  WE/EU     90        7   2.46     86     94  2016
2      Finland  WE/EU     89        7   1.46     87     92  2016
3       Sweden  WE/EU     88        7   1.33     85     90  2016
4  Switzerland  WE/EU     86        6   1.57     83     89  2016

In [151]:
year = '2017'
cpi[year].rename(columns={
    'CPI Score 2017': 'Score', 
    'number of sources': 'Surveys',
    'standard error': 'Error',
    'Lower CI ': 'Lower',
    'Upper CI': 'Upper'
}, inplace=True)
cpi[year] = cpi[year][['Country', 'Region', 'Score', 'Surveys', 'Error', 'Lower', 'Upper']]
cpi[year]['year'] = year
cpi[year].head()

       Country Region  Score  Surveys  Error  Lower  Upper  year
0  New Zealand     AP   89.0      8.0   2.40   85.0   93.0  2017
1      Denmark  WE/EU   88.0      8.0   2.75   83.0   93.0  2017
2      Finland  WE/EU   85.0      8.0   2.84   80.0   90.0  2017
3       Norway  WE/EU   85.0      8.0   1.83   82.0   88.0  2017
4  Switzerland  WE/EU   85.0      7.0   1.71   82.0   88.0  2017

In [152]:
year = '2018'
cpi[year].rename(columns={
    'CPI Score 2018': 'Score', 
    'Number of sources': 'Surveys',
    'Standard error': 'Error',
    'Lower CI ': 'Lower',
    'Upper CI': 'Upper'
}, inplace=True)
cpi[year] = cpi[year][['Country', 'Region', 'Score', 'Surveys', 'Error', 'Lower', 'Upper']]
cpi[year]['year'] = year
cpi[year].head()

       Country Region  Score  Surveys  Error  Lower  Upper  year
0      Denmark  WE/EU     88        8   2.63     84     92  2018
1  New Zealand     AP     87        8   2.44     83     91  2018
2      Finland  WE/EU     85        8   2.74     81     89  2018
3    Singapore     AP     85        9   1.98     82     88  2018
4       Sweden  WE/EU     85        8   2.02     82     88  2018

In [153]:
data = pd.concat(cpi)

In [155]:
data.to_csv('cpi.csv', index=False)